{% extends 'partials/base.html.twig' %}

{% set latest_show = page.collection.current() %}

{% block content %}
<ul class="list-container row"><!--all shows list-->
{% for show in page.collection %}
    <li class="main-list col-sm-6">
        <h6 class="show-number background-white">
            {{ show.header.number }}
            <a href='./single.html' class="black"></a>
        </h6>
        <figure class="show-visual-container">
            <div class="show-visual" style="background-image: url('{{ url('theme://images/placeholder_cover.png') }}');">
                <a href='./single.html'></a>
            </div>
        </figure>
        <div class="djs-title-container">
            <div class="djs-container">
                <h6 class="djs background-white">
                    {{ show.taxonomy.dj|join(', ') }}
                    <a href='./single.html'></a>
                </h6>
            </div>
            <h6 class='title background-white pink'>
                {{ show.title }}
                <a href='./single.html'></a>
            </h6>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}
