{% extends "layout.default.twig.html" %}

{% block latest %}
<a href="{{ path('emission', {id:shows.0.id, type:shows.0.typeSlug}) }}">
  {{ shows.0.type }} {{ shows.0.number }} : {{ shows.0.authors }} - {{ shows.0.title }}
</a>
{% endblock %}

{% block title %}Artists ({{ artists|length }}){% endblock %}

{% block content %}
<div class="grid-100 mobile-grid-100">
<h3>
	{% if app.request.get('type') %}
		<a href="{{ path('artists', { type: app.request.get('type') }) }}">{{ artists|length }} artistes</a>
		/ <a href="{{ path('emissions', { type: app.request.get('type') }) }}">{{ shows|length }} émissions</a>
		/ <a href="{{ path('djs', { type: app.request.get('type') }) }}">{{ djs|length }} djs</a>
	{% elseif app.request.get('authors') %}
		<a href="{{ path('artists', { authors: app.request.get('authors') }) }}">{{ artists|length }} artistes</a>
		/ <a href="{{ path('emissions', { authors: app.request.get('authors') }) }}">{{ shows|length }} émissions</a>
		/ <a href="{{ path('djs', { authors: app.request.get('authors') }) }}">{{ djs|length }} djs</a>
	{% else%}
		<a href="{{ path('artists') }}">{{ artists|length }} artistes</a>
		/ <a href="{{ path('emissions') }}">{{ shows|length }} émissions</a>
		/ <a href="{{ path('djs') }}">{{ djs|length }} djs</a>
	{% endif %}
</h3>
    <dl>
    {% for letter, artists in artistsGroupedByAlpha %}
        <dt><a href="#{{ letter }}" name="{{ letter }}"><strong>{{ letter }}</strong></a></dt>
        <hr />
        {% for artist in artists %}
            <dd>
                <a href="#{{ artist|url_encode }}" name="{{ artist|url_encode }}" class="artist"> {{ artist }}</a>
            {% for show in showsGroupedByArtist[artist] -%}
                    <a href="{{ url('emission', {'type':show.typeSlug, 'id':show.id}) }}?artist={{ artist|url_encode }}" title="{{ show.type }} {{ show.number }} : {{ show.authors }} - {{ show.title }}"><span> .{{ show.id }}</span></a>
                {%- if not loop.last -%}{% endif -%}
            {%- endfor %}
            </dd>
        {% endfor %}
    {% endfor %}
    </dl>
</div>
{% endblock %}
